# https://v1.colloid.foo/b60bd269-a0d5-4866-8ca4-ea2e84371169/
# CC BY 4.0

[Unit]
Description=Snapshot VM with ID %i daily

[Timer]
Unit=autosnap@%i.service
OnCalendar=01:00 Etc/UTC
RandomizedDelaySec=1h
Persistent=false

[Install]
WantedBy=timers.target