[Unit]
Description=Run docker-compose-updater for /srv/%I daily, 15 mintues after OS updates

[Timer]
OnCalendar=*-*-* 03:15
Persistent=true

[Install]
WantedBy=timers.target