# https://v1.colloid.foo/11933239-6b3a-4dd8-b13e-675c7f5ed112/
# CC BY 4.0

[Unit]
Description=Update gVisor
Wants=network-online.target
After=network-online.target
Before=docker.service

AssertArchitecture=|x86-64
AssertArchitecture=|arm64

[Service]
Type=oneshot

RuntimeDirectory=gvisor-update.service
WorkingDirectory=/run/gvisor-update.service/

Environment="BASE_URL=https://storage.googleapis.com/gvisor/releases/release/latest"

ExecStart=sh -c ' \
    test "%a" = "x86-64" && ARCH=x86_64 || ARCH=aarch64; \
    curl -sS --tlsv1.2 -O "$BASE_URL/$ARCH/gvisor.tar.zstd{,.sha512}" \
    '
ExecStart=sha512sum -c gvisor.tar.zstd.sha512
ExecStart=tar --restrict --warning=all --force-local -x --no-same-owner --no-same-permissions \
    --no-acls --no-selinux --no-xattrs -f 'gvisor.tar.zstd' --zstd
ExecStart=+chown -R root:root runsc containerd-shim-runsc-v1 gvisor-bin
ExecStart=+chmod -R 755 runsc containerd-shim-runsc-v1 gvisor-bin
ExecStart=+rm -rf /usr/local/bin/runsc /usr/local/bin/containerd-shim-runsc-v1 /usr/local/bin/gvisor-bin
ExecStart=+mv -Z runsc containerd-shim-runsc-v1 gvisor-bin /usr/local/bin/

DynamicUser=false
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateIPC=true
PrivateTmp=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=false
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@obsolete